# Python Virtual Environment
venv/
*.env
.env

# Python Cache Files
__pycache__/
*.pyc

# IDE/Editor specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Image files
*.jpg
*.jpeg
*.png
*.gif